.Main-Container {
    color: white;
}

.About-s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.About-s1 img {
    max-width: 40%;       
    height: auto; 
    margin-bottom: 0;
}

.About-s1-p{
    font-size: 20px;
    font-weight: 250;
    letter-spacing: 4px;
    line-height: 3vh;
    margin: 0 0 5vh 0;
    z-index: 3;
}

.About-s1-p1 {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About-s1-p1 h3 {
    font-size: 36px;
    margin: 0 0 5vh 0;
    z-index: 3;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.About-s1-p1 button {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20vh;
    border-color: #ff6f1c;
    letter-spacing: 2px;
    background-color: #ff6f1c;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 3;

}
.About-s1-p1 button:hover {
    background-color: #917666;
    border-color: #917666;

}

.About-s2 {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.About-s2-p1 h2 {
    margin: 50px 0 50px 0;
}

.About-s2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 70px;
}
.About-s2-container div {
  padding: 20px;
  text-align: center;
}
.About-s2-container h4{
    color: #ff6f1c;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.About-s2-container p{
    letter-spacing: 2px;
    font-size: 14px;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .About-s1 img {
        max-width: 50%; /* Adjust image size for medium screens */
    }

    .About-s1-p {
        font-size: 18px;
    }

    .About-s1-p1 h3 {
        font-size: 30px;
    }

    .About-s1-p1 button {
        padding: 8px 30px;
        font-size: 14px;
    }

    .About-s2-container {
        grid-template-columns: repeat(2, 1fr); /* Reduce columns to 2 for medium screens */
        grid-gap: 40px;
    }
}

@media (max-width: 992px) {
    .About-s1 {
        margin-top: 20%;
    }

    .About-s1 img {
        max-width: 60%; /* Further adjust image size for smaller screens */
    }

    .About-s1-p {
        font-size: 16px;
    }

    .About-s1-p1 h3 {
        font-size: 24px;
    }

    .About-s1-p1 button {
        padding: 6px 20px;
        font-size: 12px;
        margin-bottom: 10vh;
    }

    .About-s2-container {
        grid-template-columns: 1fr; /* Stack items in a single column for small screens */
        grid-gap: 20px;
    }
}

@media (max-width: 768px) {
    .About-s1 img {
        max-width: 80%; /* Further adjust image size for extra small screens */
    }

    .About-s1-p {
        font-size: 14px;
        line-height: 2.5vh;
    }

    .About-s1-p1 h3 {
        font-size: 20px;
    }

    .About-s1-p1 button {
        padding: 5px 15px;
        font-size: 12px;
    }

    .About-s2 p {
        font-size: 12px;
    }
}