.Contact-s1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.Contact-s1-p1 {
    color: #000;
    font-size: 34px;
    letter-spacing: 3px;
    margin-top: 60px;
}
.Contact-s1-p1-highlight {
    color: #ff6f1c;
    font-size: 64px;
    letter-spacing: 7px;
}
.Contact-s1-p2 button {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10vh;
    /* margin-bottom: 20vh; */
    border-color: #ff6f1c;
    letter-spacing: 2px;
    background-color: #ff6f1c;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 3;

}
.Contact-s1-p2 button:hover{
    background-color: #917666;
    border-color: #917666;

}
.Contact-s1-p2 {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.Contact-Container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.Contact-s1-p2-left p{
margin: 20px 0 0 0;
letter-spacing: 4px;
line-height: 3vh;
}
.Contact-s1-p2-left img {
    max-width: 70%;       
    height: auto; 
}
.Contact-s1-p2-right img {
    max-width: 80%;       
    height: auto; 
}