.Home-s4 {
    background-color: #000;
}
.Home-s4-p1{
    display: flex;  
    flex-direction: column; 
}
.Home-s4-p1 {
    display: flex;  
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

.Home-s4-p1-left {
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    margin: 5vh;
}

.Home-s4-p1-right {
    display: flex;  
    flex-direction: column; 
    margin: 5vh;
}

.Home-s4-p1-right img {
    max-width: 70%;       
    height: auto; 
}

.Home-s4-p1-left-001 h4,
.Home-s4-p1-left-002 h4,
.Home-s4-p1-left-003 h4 {
    font-size: 30px;
    margin: 5vh 0;
}

.Home-s4-p1-left-003 {
    display: flex;  
    align-items: center;
    gap: 10px;  
}

.Home-s4-p1-left-002 a {
    display: flex;  
    align-items: center;
    gap: 0px;  
}
.Home-s4 {
    color: white;
}